<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="JRuby, Ruby, Moneydance, documentation"/>
    <meta name="author" content="Arvicco">
    <meta name="viewport" content="width = 750">
    <link rel="stylesheet" type="text/css" href="../../../css/stylesheet.css"
          charset="utf-8">
    <title>{{ page.title }}</title>
</head>
<body id="intro">
<div id="wrapper">
    {% include top.html %}
    <div id="page_body">
        <div id="content">
            {{ content }}

            <script type="text/javascript">var disqus_url = "http://arvicco.github.com/moneydance-ruby/{{ post.url }}";
            var disqus_title = "{{ post.title }}";</script>
            <div id="disqus_thread"></div>
            <script type="text/javascript"
                    src="http://disqus.com/forums/moneydance-ruby/embed.js"></script>
            <a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span
                    class="logo-disqus">Disqus</span></a>
            <script type="text/javascript">
                //<![CDATA[
                (function() {
                    var links = document.getElementsByTagName('a');
                    var query = '?';
                    for (var i = 0; i < links.length; i++) {
                        if (links[i].href.indexOf('#disqus_thread') >= 0) {
                            query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&';
                        }
                    }
                    document.write('<script type="text/javascript" src="http://disqus.com/forums/moneydance-ruby/get_num_replies.js' + query + '"></' + 'script>');
                })();
                //]]>
            </script>
        </div>
        {% include sidebar.html %}
    </div>
    {% include footer.html %}
</div>
{% include ribbon.html %}
{% include google_analytics %}
</body>
</html>
