<a href="http://github.com/downloads/arvicco/moneydance-ruby/ruby.mxt">
    <img style="position: absolute; top: 75px; right: 150px; border: 0; width: 60px"
         src="http://arvicco.github.com/moneydance-ruby/ruby.gif"
         alt="Download Ruby Extension"/></a>
<a href="http://github.com/arvicco/moneydance-ruby/zipball/master">
    <img style="position: absolute; top:0; right: 140px; border: 0; width: 80px"
         src="http://github.com/images/modules/download/zip.png"
         alt="Download Source Code"/></a>
<a href="http://github.com/arvicco/moneydance-ruby">
    <img style="position: absolute; top: 0; right: 0; border: 0;"
         src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"
         alt="Fork me on GitHub"/></a>
