<div id="header" onclick="javascript:window.location='/moneydance-ruby/'">
    <h1>Moneydance Ruby</h1>

    <div class="description">
        Ruby scripting for Moneydance personal finance application
    </div>
</div>
<div id="navigation">
    <ul>
        <li id="navi_intro">
            <a href="/moneydance-ruby/">Intro</a>
        </li>
        <li id="navi_source">
            <a href="http://github.com/arvicco/moneydance-ruby">Source</a>
        </li>
        <li id="navi_tickets">
            <a href="http://github.com/arvicco/moneydance-ruby/issues">Tickets/Issues</a>
        </li>
    </ul>
</div>
